.navbar__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.navbar__item button{
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    align-items: center;
} 